/**
 * @name Inumaki-Senpai
 * @author aFake#4277
 * @description Best jujutsu character theme.
 * @version 1
 * @source https://github.com/jpmn333/Inumaki
 */

  @import url('https://jpmn333.github.io/Inumaki/base.css');
